GameStore.Web/Connected Services/PaymentService/PaymentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PaymentService.Application.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PaymentService.Application.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8773/PaymentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.Entities" />
  <xs:complexType name="PaymentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaymentId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common.Entities" minOccurs="0" name="PaymentStatus" type="q1:PaymentStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentResponse" nillable="true" type="tns:PaymentResponse" />
</xs:schema>