GameStore.Web/Connected Services/PaymentService/PaymentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuyersCardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuyersFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CvvCode" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationMonth" type="xs:int" />
      <xs:element minOccurs="0" name="ExpirationYear" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaymentPurpose" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellersCardNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payment" nillable="true" type="tns:Payment" />
  <xs:simpleType name="PaymentStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Successful" />
      <xs:enumeration value="NotEnoughMoney" />
      <xs:enumeration value="CardDoesNotExist" />
      <xs:enumeration value="PaymentFailed" />
      <xs:enumeration value="Pending" />
      <xs:enumeration value="ConfirmationCodeIsNotCorrect" />
      <xs:enumeration value="TransactionIdIsNotCorrect" />
      <xs:enumeration value="NotSupportedCard" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PaymentStatus" nillable="true" type="tns:PaymentStatus" />
</xs:schema>